.btn-black {
    font-family: var(--font-poppins);
    background-color: var(--color-black);
    color: #fafafa;
    padding: 1% 2%;
    border: 2px solid var(--color-black);
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    transition: all 0.4s ease-in;
    
     &:hover{
        background-color: #fafafa;
        border: 2px solid var(--color-black);
        color: var(--color-black);
        font-weight: 400;
     }
      &:active{
          transform: scale(0.8);
          color: var(--color-gold);
          font-weight: 500;

      }
      &:disabled{
      color: rgb(110, 110, 110); 
      background-color: rgb(110, 110, 110);
      }
   
}