
html, body {
    font-family: var(--font-serrat);
}
body{
    overflow-x: hidden;
    background-color: #fafafa;
            &::-webkit-scrollbar{
            width: 10px;
            height: 10px;
        }
        &::-webkit-scrollbar-track {
             background-color: #f1f1f1;
        }
        &::-webkit-scrollbar-thumb{
            background-color: #000;
            border-right: 2px solid #fafafa;
        }
}
body::-webkit-scrollbar-thumb {
  background-color: #000000;
}
html {
  scroll-behavior: smooth;
  
}
