.about_us{
    width: 100vw;
    height: 100vh;
    padding-top: 150px;
    padding-left: 6%;
    padding-right: 5%;
    background-image: url(../../../../src/assets/Images/about-us-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
        scroll-snap-align: start;
    &_title{
        font-family: var(--font-play);
        font-weight: 900;
        letter-spacing: 15px;
        font-size: 30px;
        padding-bottom: 2%;
        text-transform: uppercase;
    }
    &_text{
        width: 40%;
        height: 100%;
        font-size: 18px;
        line-height: 30px;
    }
}


@media (max-width: 1024px){
    .about_us{

        &_text{
            text-align: left;
            width: 100%;
            padding-left: unset;
            padding-right: 10%;
        }
    }



}
@media (max-width: 878px){
    .about_us{
        background-position: center;
        &_title{
            text-align: center;
            padding-bottom: 10%;
        }
        &_text{
            text-align: center;
            width: 100%;
            padding-left: 10%;
            padding-right: 10%;
        }
    }



}

@media (max-width: 678px){
    .about_us{
        padding-left: 2%;
        padding-right: 2%;
        height: 100%;
        background-attachment: fixed;
    }
}