.card_product{
    width: 100%;
    max-width: 240px;
    height: 100%;
    max-height: 470px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    flex: 1 1 200px;
    box-shadow: 1px 4px 15px 0px rgba(0, 0, 0, 0.37);
    gap: 10px;
    border-radius: 5px;
    padding: 1%;
    transition: all 0.8s ease;
    margin-bottom: 10px;
    background: #fafafa;
    &_image_container{
        max-width: 210px;
        min-width: 210px;
        max-height: 210px;
        border-radius: 5px;
        overflow: hidden;
        cursor: pointer;
    }
    &_image{
        width: 100%;
        min-height: 279px;
        object-fit: cover;
    }
    &_category{
        font-size: 15px;
        text-transform: capitalize;
        font-weight: 400;
        font-style: italic;
        color: var(--color-gold);
    }
    &_name{
        font-size: 18px;
        font-family: var(--font-play);
        text-align: center;
        font-weight: 900;
        text-transform: capitalize;
        min-height: 70px;
    }
    &_price{
        font-size: 35px;
        font-weight: 900;
        text-align: center;
    }

    &:hover{
        transform: translateY(-5px);
    }
}
.link{
    text-decoration: none;
    color: #fafafa;
    &:hover{
        height: 100%;
        color: black;
    }
}
@media (max-width: 878px){
    .card_product{
        max-width: 420px;  
        max-height: 570px;
        padding-bottom: 5%;    
        
        &_image_container{
            max-width: unset;
            max-height: unset;
        }
        &_category{
            font-size: 18px;
        }
        &_name{
            min-height: unset;
            font-size: 25px;
        }
    }

}