.checkout{
    width: 100%;
    height: 100%;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
    &_title{
        font-family: var(--font-play);
        font-weight: 900;
        letter-spacing: 15px;
        font-size: 30px;
        padding-bottom: 2%;
        text-transform: uppercase;
        align-self: flex-start;
    }
    &_container{
        display: flex;
        justify-content: space-between;
        align-items:flex-start;
        width: 100%;
        height: 100%;
        gap: 1%;
        min-height: 70vh;
    }
    &_form_container{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 10px;

        &_login{
            font-size: 15px;
            font-weight: 400;
            &_link{
                text-decoration: none;
                color: var(--color-gold);
                font-weight: 600;
            }
        }
    }
}

.checkout_form{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    &_title{
        font-weight: 400;
    }
    &_hr{
        border-top: 1px solid rgba(128, 128, 128, 0.219);
    }
    &_inputs_container{
        width: 100%;
        display: flex;
        gap: 10px;
    }
    &_label{
        display: flex;
        flex-direction: column;
        font-size: 16px;
        font-weight: 400;
        gap: 5px;
        width: 100%;
        height: 80px;
        &_error{
            color: red
        }
    }
    &_input{
        width: 100%;
        height: 35px;
        font-size: 16px;
        font-family: var(--font-serrat);
        border: 1.5px solid #000;
        padding-left: 2px;
        &:focus{
            outline: none;
        }
    }
    &_select{
        width: 100%;
        height: 35px;
        font-size: 16px;
        font-family: var(--font-serrat);
        border: 1.5px solid #000;
        &:focus{
            outline: none;
        }
    }
    
}

.country{
    width: 50%;
}
.error{
    border: 1.5px solid red;
}
.checkout_ticket_container{
    width: 90%;
    height: 100%;
    border: 1px solid rgba(128, 128, 128, 0.411);
    padding: 2%;
    max-height: 610px;
    min-height: 610px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;


}
.checkout_ticket{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: flex-start;
    align-items: flex-start;
    &_title{
        font-size: 18px;
        font-weight: 400;
    }
    &_heads{
        font-weight: 800;
        font-size: 15px;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    &_hr{
        width: 100%;
        border-top: 1px solid rgba(128, 128, 128, 0.219);
    }
    &_list{
        width: 100%;
        height: 100%;
        overflow-y: scroll;
        min-height: 250px;
        max-height: 250px;
        box-shadow: inset -16px -16px 20px #e9e9e960,
                    inset 16px 16px 20px #Fafafa;
        &::-webkit-scrollbar{
            width: 10px;
            height: 10px;
        }
        &::-webkit-scrollbar-track {
             background-color: #f1f1f1;
        }
        &::-webkit-scrollbar-thumb{
            background-color: #000;
            border-radius: 4px;
            border-right: 2px solid #fafafa;
        }
    }
    &_total{
        font-weight: 800;
        font-size: 18px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding-right: 2%;
    }
}

.checkout_payMethods{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    &_title{
        font-weight: 800;
        font-size: 18px;
        padding-bottom: 2%;
    }
    &_labels{
        display: flex;
    }
    &_label{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
    }
    &_input{
         -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        width: 15px;
        height: 15px; 
        border-radius: 50%; 
        border: 1px solid #000;
        outline: none; 
        cursor: pointer; 
    }
    &_input:checked{
        background-color: #000;
    }


}

