.breadcrums{
    display: flex;
    width: 100%;
    height: 100%;
    padding-left: 6%;
    padding-bottom: 2%;
    justify-content: flex-start;
    align-items: flex-start;

    &_title{
        font-weight: 300;
        font-style: italic;
        font-size: 15px;
        text-transform: capitalize;
    }
    &_category{
        font-weight: 300;
        font-style: italic;
        font-size: 15px;
        text-transform: capitalize;
    }
    &_product{
        font-weight: 700;
        font-style: italic;
        font-size: 15px;
        text-transform: capitalize;
    }
}

.color{
    color: var(--color-gold);
        font-weight: 700;
        font-style: italic;
        font-size: 15px;
}

.link_category{
    text-decoration: none;
    color: var(--color-gold);
}

@media (max-width: 678px){
    .breadcrums{
        padding-top: 5%;        
        &_title{
            width: 30%;
            font-size: 12px;
        }
        &_category{
            font-size: 12px;
        }

        &_product{
            width: 100%;
            font-size: 12px;
        }
    }

}