.products{
    width: 100vw;
    height: 100%;
    padding-top: 150px;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
    scroll-snap-align: start;
    min-height: 100vh;
    &_title{
        font-family: var(--font-play);
        font-weight: 900;
        letter-spacing: 15px;
        font-size: 30px;
        padding-bottom: 2%;
        text-transform: uppercase;
    }
    &_card_container{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        background-color: #fafafa;
        min-height: 100vh;
        padding-top: 2%;     
    }
    &_card_loader{
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        &_img{
            max-width: 15%;
        }
    }
}
.product_card_loader_text{
            font-size: 12px;
            font-family: var(--font-serrat);
            font-weight: 400;    
            position: relative;
            bottom: 10%;
}

.card_container{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 6%;
}
.container{
    display: flex;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    justify-content: center;
    align-items: flex-start;
    box-shadow: 1px 3px 5px 0px rgba(0,0,0,0.4);
    background-color: #000;
}
@media (max-width: 878px){
    .products{
        display: flex;
        flex-direction: column;
        gap: 20px;
        height: 100%;
        &_title{
        text-align: center;

        }
        &_card_container{
            gap: 30px;
        }
    }

}

@media (max-width: 878px){
    .container{
        flex-wrap: wrap;
        min-height: unset;
    }
    .filters{
        min-height: auto;
        width: 100%;
        padding-bottom: 5%;

        &_title{
            padding-bottom: 2%;
        }
    
    }
    .checkbox_label{
        font-size: 18px;
    }
    .checkbox_input{
        transform: scale(1.5);
        &:checked{
            border-color: red;
        }
    }
}